
3610 project requirements: 

GitHub: https://github.com/JivanTaj/DndCharacterCreator
(branch this) 

------------ Types of attack: ----------
-- XSS
	-- how to protect 
	--
	-- 
-- SQL injection
	-- how to protect 
	--
	-- 
-- CSRF	
	-- how to protect 
	--
	-- 
-- cookie attacks 
	-- how to protect 
	--
	-- 
-- Brute force
	-- how to protect 
	--
	-- 
-- URL traversal
	-- how to protect 
	-- restrict access to resources using User.Identity
	-- 


------------ feature: 		Priority:	Done? ---------- 

Strong password req. 		1		no
input valifation (regex etc.)	1		no
password hashing		2		no	
URL traversal			1		yes (needs to be checked)
account permissions		1		no 
